.modal-container {
    position: absolute;
    bottom: 18px;
    background-color: #fff;
    padding: 14px;
    width: 90%;
    max-width: 700px;

    border-radius: 4px;
    border-radius: flex;
    display: flex;
    flex-direction: column;
    flex-direction: column;
}

.modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.modal-header button {
    border: 0;
    background-color: transparent;

}

.modal-container span {
    margin: 14px 0;
    color: #A7A7A7;
    background-color: #fff;

}

.modal-link{
    background-color: #172742;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
    height: 38px;
    border: 0;
    border-radius: 4px;
    color: #fff;
}

