.modal-container {
    display: flex;
    flex-direction: column;

    position: absolute;

    bottom: 18px;

    background-color: var(--white);

    padding: 14px;

    width: 90%;
    max-width: 700px;

    border-radius: 4px;
    border-radius: flex;
    
    animation: slideY 1.5s;

}

@keyframes slideY{
    from{
        transform: translateY(90px)
    }
    to{
        transform: translateY(0);
    }
}
.modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--white);
}

.modal-header button {
    border: 0;
    background-color: transparent;

}

.modal-container span {
    margin: 14px 0;

    color: var(--light-grey);
    background-color: var(--white);

}

.modal-link{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--bg-modal);
  
    padding: 0 14px;

    height: 38px;
    border: 0;
    border-radius: 4px;

    color: var(--white);
}

