.menu {
    position: absolute;
    top: 20px;
    right: 10%;
    font-weight: bold;
    display: flex;
}

.menu a {
    text-decoration: none;
}

.social {
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.logoPM{
    width: 36px;
}

.menu-item {
    color: #000;
    background-color: var(--white);
    padding: 12px 24px;
    border-radius: 4px;
}