.links-container {
    max-width: 1120px;
    margin: 32px auto 0 auto;
}

.links-header{
    display: flex;
}

.links-header svg {
    margin-right: 14px;
}

.links-header h1 {
    color: #fff;
}

.links-item {
    width: 700px;
    display: flex;
    align-items: center;
    margin: 50px auto;
}

.links-iteml:last-child{
    margin-bottom: 18px;
}

.link {
    border: 0;
    width: 100%;
    min-width: 80%;
    border-radius: 4px;
    height: 46px;
    background-color: rgb(255,255,255, 0.15);
    margin-right: 14px;
    display: flex;
    align-items: center;
    padding: 0 14px;
    color: #fff;
}

.link svg{
    margin-right: 14px;
    background-color: transparent;
}

.link-delete{
    border: 0;
    background-color: transparent;
}

.empty-text {
    width: 100%;
    text-align: center;
    color: #fff;
    margin-top: 50px;
}

@media (max-width: 715px) {
    .links-container {
        width: 90%;
    }

    .logo h1{
        font-size: 40px;
    }

    .links-item {
        width: 100%;
    }

    .link{
        width: 100%;
    }
}
